<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>1.5 copyright 2002-2010, Tetsuro KURITA</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2002-2010, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>PathConverterHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>PathConverter Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.PathConverter</string>
</dict>
</plist>
